@CHARSET "UTF-8";

*{margin:0;padding:0}
body{ }
a{text-decoration: none;}
ul{ list-style:none;}

.header {
	height: 40px;
	background: url("../pic/headerbg.jpg");
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	}

.header .headercontent{
	width:1280px;
	height:40px;
	margin: 0 auto;
}

.header .logo{
	background:url("../pic/LOGO.png");
	width:150px;
	height: 30px;
	margin-left:20px;
	margin-top:5px;
	display: block;
	float: left;
}

.header ul li{
	float: left;
}

.header .sousuo{
	float: left;
	margin-left: 45px;
	margin-top: 6px;
}

.header .sousuo input{
	height: 30px;
}

.header .sousuo .sousuotext{
	width: 180px;
	background: url("../pic/sousuo.png");
	border: none;
	text-indent: 3px;
}

.header .sousuo .submit{
	width: 60px;
	background: url("../pic/sousuo.png") right;
	border: none;
	margin-left:-5px;
}

.header .left{
	float:left;
	margin-left: 50px;
}

.header .left a{
	display: block;
	width:80px;
	height:35px;
	line-height:35px;
	margin-top:3px;
	margin-right: 10px;
	text-align: center;
}

.header .right{
	float:right;
}

.header .right a{
	display: block;
	width:65px;
	height:35px;
	line-height:35px;
	margin-top:3px;
	margin-right: 10px;
	text-align: center;
	color:#424242;
}