@CHARSET "UTF-8";

*{margin:0;padding:0}
body{ }
a{text-decoration: none;}
ul{ list-style:none;}

.header{height:213px;width:1280px;background:#4dfe65; margin:0 auto;border-bottom:solid 1px #cbcbcb;}

.header .logo img{width:212px;height:213px;margin:0 0 0 165px;float:left;}

.header  .p{padding:70px 0 0 0;}
.header  .p p{font-size: 51px; font-family:"华文彩云" ;color:white;margin-bottom:10px;}
.header  .p span{font-size: 30px;font-family:"华文新魏" ;color:white;margin-left:20px;}