@CHARSET "UTF-8";
*{margin:0;padding:0}
body{ width:1280px;height:1400px;margin:0 auto;}
a{text-decoration: none;}
ul{ list-style:none;}

.content{width:1280px;height:1188px;margin:0 auto;}

.content .k{width:1083px;height:65px;margin:0 auto;}
.content .detail{width:1083px;height:880px;margin:0 auto;background:#fafafa;}

.content .detail  .detail_k{width:730px;border:solid 1px #d3d3d3;float:left;background:#fafafa;font-size:24px;}
.content .detail  .detail_k a.fanhui{font-size:14px;color:#828282;line-height:12px;float:left;margin-top:35px;margin-bottom:24px;font-weight:bolder;}
.content .detail  .detail_k a.first{margin:30px 0px 0 0;display:block;height:19px;width:17px;float:left;margin-left:573px;}
.content .detail  .detail_k .cy_detail{width:658px;border-top:1px dashed #828282;margin:110px 0 0 32px;}
.content .detail  .detail_k .cy_detail .cy{width:651px;height:101px;background:#f1f1f1;margin:9px 0 16px 6px;font-size:14px;color:#828282;float:left;}
.content .detail  .detail_k .cy_detail .cy .tx{width:70px;height:70px;border:1px solid #828282;margin-left:6px;float:left;margin-top:13px; background: url("../pic/touxiang.jpg") no-repeat;}
.content .detail  .detail_k .cy_detail .cy span{margin:10px 0 0 18px;float:left; width:300px; }
.content .detail  .detail_k .cy_detail .cy a{margin:10px 26px 0 0;float:right;color:#828282;text-decoration: underline; }