@CHARSET "UTF-8";

*{margin:0;padding:0}
body{ width:1280px;height:1400px;margin:0 auto;}
a{text-decoration: none;}
ul{ list-style:none;}

.content{width:1280px;height:1188px;margin:0 auto;background:#f5f5f5;}

.content .k{width:1083px;height:65px;margin:0 auto;background:#f5f5f5;}
.content .detail{width:1083px;height:880px;margin:0 auto;background:#fafafa;}

.content .detail  .name_k{width:232px;height:232px;padding:97px 0 0 74px;float:left;}
.content .detail  .name_k img{width:158px;height:158px;margin-left:12px;}
.content .detail  .name_k p{font-family:"华文新魏" ;font-size:30px;margin-left:64px;color:#d3d3d3;margin-top:15px;}

.content .detail  .txt_k{width:776px;height:329px;float:left;}
.content .detail  .txt_k textarea{font-size:16px;margin:97px 0 0 80px;}
.content .detail  .txt_k  .first{margin:0 0 0 530px;}
.content .detail  .txt_k  .second {color:#d3d3d3;padding-bottom:5px;}
.content .detail  .txt_k   img{margin:17px 0 0 0;}
.content .detail  .txt_k  .button{background:url(../pic/fb.jpg); width:79px; height:27px;color:#fff;font-size:14px;}

.content .detail  .list_k{width:306px;height:550px;background:#fafafa;float:left;}
.content .detail  .list_k ul{background:#9efca3;}
.content .detail  .list_k ul li{float:top; line-height:60px;}
.content .detail  .list_k ul li  a .first{background:#6ae670;}
.content .detail  .list_k ul li a{display:block;text-align: center;color:white; font-size:23px;}
.content .detail  .list_k ul li a:hover{background:#6ae670; }


.content .detail  .detail_k{width:730px;height:490px;border:solid 1px #d3d3d3;float:left;}

.content .detail  .detail_k a{font-size:14px;color:#828282;line-height:12px;float:left;margin-top:35px;margin-bottom:24px;font-weight:bolder;}
.content .detail  .detail_k a.first{margin:30px 0px 0 0;display:block;height:19px;width:17px;float:left;margin-left:573px;}

.content .detail  .detail_k form{width:400px; margin:85px 0 0 226px; font-size:16px}
.content .detail  .detail_k form label{float:left;color:#b2b5b2;}
.content .detail  .detail_k form p{float:left;color:#b2b5b2;margin:0 0 0 15px;}

.content .detail  .detail_k form #shuru{text-indent:3px; width:311px; height:32px; margin-top:23px; float:left;}
.content .detail  .detail_k form #shuru label{color:#b2b5b2;margin: 7px 10px 0 0;}
.content .detail  .detail_k form  .height{ height:32px; width:204px; }
.content .detail  .detail_k form  .Wdate{ height:32px; width:204px; }

.content .detail  .detail_k form  .sex{ width:250px; height:32px; margin-top:23px; float:left;}
.content .detail  .detail_k form  .sex label{color:#b2b5b2;}
.content .detail  .detail_k form  .sex p{float:right;margin-right:30px;color:#b2b5b2;}

.content .detail  .detail_k form input.button{width:165px;height:47px; margin-top:21px; background:url(../pic/bt.jpg); color:#fff; font-size:18px; float: left;
                                                    margin-left:18px;}
 
 .content .detail  .detail_k   .pass{margin:40px 0 0 18px;}                                   
                                                    
                                   
