<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
									 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
									 http://www.springframework.org/schema/tx 
									 http://www.springframework.org/schema/tx/spring-tx.xsd
									 http://www.springframework.org/schema/aop 
									 http://www.springframework.org/schema/aop/spring-aop-4.0.xsd" 
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" >
			<value>jdbc:mysql://localhost:3306?useUnicode=true&amp;characterEncoding=UTF-8</value>
		</property>
		<property name="username" value="root"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/sshpobject/model/Shuoshuo.hbm.xml</value>
				<value>com/sshpobject/model/UserStatus.hbm.xml</value>
				<value>com/sshpobject/model/UserGroup.hbm.xml</value>
				<value>
					com/sshpobject/model/UserOrganization.hbm.xml
				</value>
				<value>com/sshpobject/model/User.hbm.xml</value>
				<value>com/sshpobject/model/Sixin.hbm.xml</value>
				<value>com/sshpobject/model/Organization.hbm.xml</value>
				<value>com/sshpobject/model/Liuyan.hbm.xml</value>
				<value>
					com/sshpobject/model/OrganizationType.hbm.xml
				</value>
				<value>
					com/sshpobject/model/OrganizationRequest.hbm.xml
				</value>
				<value>com/sshpobject/model/UserLog.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<aop:aspectj-autoproxy/>	
	<!-- 下面开始配置bean -->
	<bean id="userAspect" class="com.sshpobject.aspect.UserAspect" />
	
	<bean id="userDao" class="com.sshpobject.daoimpl.UserDaoImpl" >
	    <property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="userService" class="com.sshpobject.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="userAction" class="com.sshpobject.action.UserAction">
	    <property name="userService" ref="userService"></property>
	</bean>
	<bean id="userLogDao" class="com.sshpobject.daoimpl.UserLogDaoImpl">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="userLogService" class="com.sshpobject.service.UserLogService">
		<property name="dao" ref="userLogDao"></property>
	</bean>
	
	<bean id="organizationDao" class="com.sshpobject.daoimpl.OrganizationDaoImpl">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="organizationService" class="com.sshpobject.service.OrganizationService">
		<property name="organizationDao" ref="organizationDao"></property>
	</bean>
	<bean id="organizationAction" class="com.sshpobject.action.OrganizationAction">
		<property name="organizationService"  ref="organizationService"></property>
	</bean>
	
	<bean id="sixinDao" class="com.sshpobject.daoimpl.SixinDaoImpl">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="sixinService" class="com.sshpobject.service.SixinService">
		<property name="sixinDao" ref="sixinDao"></property>
	</bean>
	<bean id="sixinAction" class="com.sshpobject.action.SixinAction">
		<property name="sixinService" ref="sixinService"></property>
	</bean>
	
	<bean id="shuoshuoDao" class="com.sshpobject.daoimpl.ShuoshuoDaoimpl">
		<property name="sf" ref="sessionFactory"></property>
	</bean>
	<bean id="shuoshuoService" class="com.sshpobject.service.ShuoshuoService">
		<property name="shuoshuoDao" ref="shuoshuoDao"></property>	
	</bean>
	<bean id="shuoshuoAction" class="com.sshpobject.action.ShuoshuoAction">
		<property name="shuoshuoService" ref="shuoshuoService"></property>
	</bean>
	
	
	</beans>